body.juego {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Ajusta la URL de la imagen de fondo para el tema claro aquí */
    background-image: url('https://img.freepik.com/free-vector/blue-geometric-frame-vector_53876-140352.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

body.juego.dark .background-image {
    /* Ajusta la URL de la imagen de fondo para el tema oscuro aquí */
    background-image: url('https://img.freepik.com/free-vector/blue-waves-dots-abstract-background_79603-881.jpg?w=1380&t=st=1699818098~exp=1699818698~hmac=053dddaaac2adb45fdd1ca0ca812ae31b30b53b944a07afadfae3660f61c570f');
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Añade otros estilos según sea necesario */


.content-box {
    border: 2px solid black;
    padding: 40px; /* Ajusta el relleno para aumentar el tamaño del cuadro */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px; /* Ajusta el tamaño de fuente dentro del cuadro */
}

/* Agrega estas reglas para el modo oscuro */
body.juego.dark .content-box {
    border-color: white;
}

.boton-juego {
    background-color: #007fdd;
    color: white;
    border: none;
    padding: 15px 30px; /* Ajusta el relleno para aumentar el tamaño del botón */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px; /* Ajusta el tamaño de fuente del botón */
    margin: 8px 4px; /* Ajusta el margen para aumentar el espacio alrededor del botón */
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.boton-juego:hover {
    background-color: #00508c;
}

#preguntas-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Ajusta el margen inferior para aumentar el espacio entre el contenedor de preguntas y otros elementos */
}

#preguntas {
    font-size: 36px; /* Ajusta el tamaño de fuente de las preguntas para que sea más grande */
    margin-bottom: 20px; /* Ajusta el margen inferior para aumentar el espacio entre las preguntas y la entrada de respuesta */
}

#respuesta {
    font-size: 32px; /* Ajusta el tamaño de fuente de la entrada de respuesta para que sea más grande */
    margin-bottom: 30px; /* Ajusta el margen inferior para aumentar el espacio entre la entrada de respuesta y otros elementos */
}

.mensaje {
    border: 2px solid black; /* Ajusta el borde para que sea más grande */
    padding: 20px; /* Ajusta el relleno para aumentar el tamaño del mensaje */
    margin-top: 20px; /* Ajusta el margen superior para aumentar el espacio entre el mensaje y otros elementos */
    font-size: 24px; /* Ajusta el tamaño de fuente del mensaje para que sea más grande */
    font-weight: bold;
    display: none;
}

.correcto {
    background-color: rgb(39, 189, 39);
    display: block;
}

.incorrecto {
    background-color: orangered;
    display: block;
}

.final {
    background-color: lightblue;
    display: block;
}

#resultado {
    margin-top: 40px; /* Ajusta el margen superior para aumentar el espacio entre el resultado y otros elementos */
    text-align: center;
    font-size: 28px; /* Ajusta el tamaño de fuente del resultado para que sea más grande */
}


