@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

.home-page-desktop {
  background-color: #0083DE;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-page-desktop .overlap-group-wrapper {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
}

.home-page-desktop .overlap-group {
  position: relative;
  height: 1024px;
}

.home-page-desktop .mind {
  position: absolute;
  width: 1440px;
  height: 1023px;
  top: 1px;
  left: 0;
  object-fit: cover;
}

.home-page-desktop .head {
  position: absolute;
  width: 1440px;
  height: 120px;
  top: 0;
  left: 0;
  background-color: #007fdd;
  opacity: 0.5;
}

.home-page-desktop .boton-contacto {
  left: 685px;
  position: absolute;
  width: 170px;
  height: 53px;
  top: 34px;
  background-color: #0030a2;
  border-radius: 90px;
}

.home-page-desktop .boton-experiencia {
  left: 1237px;
  box-shadow: 0px 4px 4px #00000040;
  position: absolute;
  width: 170px;
  height: 53px;
  top: 34px;
  background-color: #0030a2;
  border-radius: 90px;
}

.home-page-desktop .boton-estudios {
  left: 869px;
  box-shadow: 0px 4px 4px #00000040;
  position: absolute;
  width: 170px;
  height: 53px;
  top: 34px;
  background-color: #0030a2;
  border-radius: 90px;
}

.home-page-desktop .boton-competencias {
  left: 1053px;
  box-shadow: 0px 4px 4px #00000040;
  position: absolute;
  width: 170px;
  height: 53px;
  top: 34px;
  background-color: #0030a2;
  border-radius: 90px;
}

.home-page-desktop .text-wrapper {
  position: absolute;
  top: 47px;
  left: 727px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-page-desktop .div {
  position: absolute;
  top: 47px;
  left: 1271px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-page-desktop .text-wrapper-2 {
  position: absolute;
  top: 47px;
  left: 914px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-page-desktop .text-wrapper-3 {
  position: absolute;
  top: 47px;
  left: 1070px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-page-desktop .text-wrapper-4 {
  position: absolute;
  top: 12px;
  left: 70px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page-desktop .text-wrapper-5 {
  position: absolute;
  top: 52px;
  left: 208px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page-desktop .group {
  position: absolute;
  width: 1257px;
  height: 521px;
  top: 252px;
  left: 99px;
}

.home-page-desktop .frame {
  display: flex;
  flex-direction: column;
  width: 981px;
  height: 521px;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 276px;
}

.home-page-desktop .frame-2 {
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-color: #d9d9d9;
  border-radius: 34px;
  opacity: 0.5;
}

.home-page-desktop .proactivo-eficiente {
  position: absolute;
  width: 893px;
  top: 187px;
  left: 58px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page-desktop .span {
  font-weight: 700;
}

.home-page-desktop .text-wrapper-6 {
  font-weight: 500;
}

.home-page-desktop .foto-perfil {
  position: absolute;
  width: 231px;
  height: 338px;
  top: 91px;
  left: 0;
}

.home-page-desktop .p {
  position: absolute;
  top: 992px;
  left: 1013px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-page-desktop .home {
  position: absolute;
  width: 66px;
  height: 66px;
  top: 941px;
  left: 56px;
}


.competencias-desktop {
  background-color: #0083DE;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.competencias-desktop .overlap-group-wrapper {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
}

.competencias-desktop .overlap-group {
  position: relative;
  height: 1024px;
}

.competencias-desktop .mind {
  position: absolute;
  width: 1440px;
  height: 1023px;
  top: 1px;
  left: 0;
  object-fit: cover;
}

.competencias-desktop .head {
  position: absolute;
  width: 1440px;
  height: 120px;
  top: 0;
  left: 0;
  background-color: #007fdd;
  opacity: 0.5;
}

.competencias-desktop .boton-contacto {
  left: 685px;
  position: absolute;
  width: 170px;
  height: 53px;
  top: 34px;
  background-color: #0030a2;
  border-radius: 90px;
}

.competencias-desktop .boton-experiencia {
  left: 1237px;
  box-shadow: 0px 4px 4px #00000040;
  position: absolute;
  width: 170px;
  height: 53px;
  top: 34px;
  background-color: #0030a2;
  border-radius: 90px;
}

.competencias-desktop .boton-estudios {
  left: 869px;
  box-shadow: 0px 4px 4px #00000040;
  position: absolute;
  width: 170px;
  height: 53px;
  top: 34px;
  background-color: #0030a2;
  border-radius: 90px;
}

.competencias-desktop .boton-competencias {
  left: 1053px;
  box-shadow: 0px 4px 4px #00000040;
  position: absolute;
  width: 170px;
  height: 53px;
  top: 34px;
  background-color: #0030a2;
  border-radius: 90px;
}

.competencias-desktop .text-wrapper {
  position: absolute;
  top: 47px;
  left: 727px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.competencias-desktop .div {
  position: absolute;
  top: 47px;
  left: 1271px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.competencias-desktop .text-wrapper-2 {
  position: absolute;
  top: 47px;
  left: 914px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.competencias-desktop .text-wrapper-3 {
  position: absolute;
  top: 47px;
  left: 1070px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.competencias-desktop .text-wrapper-4 {
  position: absolute;
  top: 12px;
  left: 70px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.competencias-desktop .text-wrapper-5 {
  position: absolute;
  top: 52px;
  left: 208px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.competencias-desktop .group {
  position: absolute;
  width: 1257px;
  height: 521px;
  top: 252px;
  left: 99px;
}

.competencias-desktop .frame {
  display: flex;
  flex-direction: column;
  width: 981px;
  height: 521px;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 276px;
}

.competencias-desktop .frame-2 {
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-color: #d9d9d9;
  border-radius: 34px;
  opacity: 0.5;
}

.competencias-desktop .suite-microsoft {
  position: absolute;
  width: 893px;
  top: 80px;
  left: 44px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.competencias-desktop .span {
  font-weight: 700;
}

.competencias-desktop .text-wrapper-6 {
  font-weight: 500;
}

.competencias-desktop .foto-perfil {
  position: absolute;
  width: 231px;
  height: 338px;
  top: 91px;
  left: 0;
}

.competencias-desktop .p {
  position: absolute;
  top: 992px;
  left: 1013px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.competencias-desktop .home {
  position: absolute;
  width: 66px;
  height: 66px;
  top: 941px;
  left: 56px;
}

.contacto-desktop {
  background-color: #0083DE;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.contacto-desktop .overlap-group-wrapper {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
}

.contacto-desktop .overlap-group {
  position: relative;
  height: 1024px;
}

.contacto-desktop .mind {
  position: absolute;
  width: 1440px;
  height: 1023px;
  top: 1px;
  left: 0;
  object-fit: cover;
}

.contacto-desktop .head {
  position: absolute;
  width: 1440px;
  height: 120px;
  top: 0;
  left: 0;
  background-color: #007fdd;
  opacity: 0.5;
}

.contacto-desktop .boton-contacto {
  left: 685px;
  position: absolute;
  width: 170px;
  height: 53px;
  top: 34px;
  background-color: #0030a2;
  border-radius: 90px;
}

.contacto-desktop .boton-experiencia {
  left: 1237px;
  box-shadow: 0px 4px 4px #00000040;
  position: absolute;
  width: 170px;
  height: 53px;
  top: 34px;
  background-color: #0030a2;
  border-radius: 90px;
}

.contacto-desktop .boton-estudios {
  left: 869px;
  box-shadow: 0px 4px 4px #00000040;
  position: absolute;
  width: 170px;
  height: 53px;
  top: 34px;
  background-color: #0030a2;
  border-radius: 90px;
}

.contacto-desktop .boton-competencias {
  left: 1053px;
  box-shadow: 0px 4px 4px #00000040;
  position: absolute;
  width: 170px;
  height: 53px;
  top: 34px;
  background-color: #0030a2;
  border-radius: 90px;
}

.contacto-desktop .text-wrapper {
  position: absolute;
  top: 47px;
  left: 727px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.contacto-desktop .div {
  position: absolute;
  top: 47px;
  left: 1271px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.contacto-desktop .text-wrapper-2 {
  position: absolute;
  top: 47px;
  left: 914px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.contacto-desktop .text-wrapper-3 {
  position: absolute;
  top: 47px;
  left: 1070px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.contacto-desktop .text-wrapper-4 {
  position: absolute;
  top: 12px;
  left: 70px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.contacto-desktop .text-wrapper-5 {
  position: absolute;
  top: 52px;
  left: 208px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.contacto-desktop .group {
  position: absolute;
  width: 1257px;
  height: 521px;
  top: 252px;
  left: 99px;
}

.contacto-desktop .frame {
  display: flex;
  flex-direction: column;
  width: 981px;
  height: 521px;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 276px;
}

.contacto-desktop .frame-2 {
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-color: #d9d9d9;
  border-radius: 34px;
  opacity: 0.5;
}

.contacto-desktop .fecha-de-nacimiento {
  position: absolute;
  width: 893px;
  top: 80px;
  left: 53px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.contacto-desktop .span {
  font-weight: 500;
}

.contacto-desktop .text-wrapper-6 {
  font-weight: 700;
}

.contacto-desktop .foto-perfil {
  position: absolute;
  width: 231px;
  height: 338px;
  top: 91px;
  left: 0;
}

.contacto-desktop .p {
  position: absolute;
  top: 992px;
  left: 1013px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.contacto-desktop .home {
  position: absolute;
  width: 66px;
  height: 66px;
  top: 941px;
  left: 56px;
}

.estudios-desktop {
  background-color: #0083DE;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.estudios-desktop .overlap-group-wrapper {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
}

.estudios-desktop .overlap-group {
  position: relative;
  height: 1024px;
}

.estudios-desktop .mind {
  position: absolute;
  width: 1440px;
  height: 1023px;
  top: 1px;
  left: 0;
  object-fit: cover;
}

.estudios-desktop .head {
  position: absolute;
  width: 1440px;
  height: 120px;
  top: 0;
  left: 0;
  background-color: #007fdd;
  opacity: 0.5;
}

.estudios-desktop .boton-contacto {
  left: 685px;
  position: absolute;
  width: 170px;
  height: 53px;
  top: 34px;
  background-color: #0030a2;
  border-radius: 90px;
}

.estudios-desktop .boton-experiencia {
  left: 1237px;
  box-shadow: 0px 4px 4px #00000040;
  position: absolute;
  width: 170px;
  height: 53px;
  top: 34px;
  background-color: #0030a2;
  border-radius: 90px;
}

.estudios-desktop .boton-estudios {
  left: 869px;
  box-shadow: 0px 4px 4px #00000040;
  position: absolute;
  width: 170px;
  height: 53px;
  top: 34px;
  background-color: #0030a2;
  border-radius: 90px;
}

.estudios-desktop .boton-competencias {
  left: 1053px;
  box-shadow: 0px 4px 4px #00000040;
  position: absolute;
  width: 170px;
  height: 53px;
  top: 34px;
  background-color: #0030a2;
  border-radius: 90px;
}

.estudios-desktop .text-wrapper {
  position: absolute;
  top: 47px;
  left: 727px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.estudios-desktop .div {
  position: absolute;
  top: 47px;
  left: 1271px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.estudios-desktop .text-wrapper-2 {
  position: absolute;
  top: 47px;
  left: 914px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.estudios-desktop .text-wrapper-3 {
  position: absolute;
  top: 47px;
  left: 1070px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.estudios-desktop .text-wrapper-4 {
  position: absolute;
  top: 12px;
  left: 70px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.estudios-desktop .text-wrapper-5 {
  position: absolute;
  top: 52px;
  left: 208px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.estudios-desktop .group {
  position: absolute;
  width: 1257px;
  height: 521px;
  top: 252px;
  left: 99px;
}

.estudios-desktop .frame {
  display: flex;
  flex-direction: column;
  width: 981px;
  height: 521px;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 276px;
}

.estudios-desktop .frame-2 {
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-color: #d9d9d9;
  border-radius: 34px;
  opacity: 0.5;
}

.estudios-desktop .UADE-PRESENTE {
  position: absolute;
  width: 893px;
  top: 111px;
  left: 44px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.estudios-desktop .span {
  font-weight: 700;
}

.estudios-desktop .text-wrapper-6 {
  font-weight: 500;
}

.estudios-desktop .foto-perfil {
  position: absolute;
  width: 231px;
  height: 338px;
  top: 91px;
  left: 0;
}

.estudios-desktop .p {
  position: absolute;
  top: 992px;
  left: 1013px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.estudios-desktop .home {
  position: absolute;
  width: 66px;
  height: 66px;
  top: 941px;
  left: 56px;
}

.experiencia-desktop {
  background-color: #0083DE;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.experiencia-desktop .overlap-group-wrapper {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
}

.experiencia-desktop .overlap-group {
  position: relative;
  height: 1024px;
}

.experiencia-desktop .mind {
  position: absolute;
  width: 1440px;
  height: 1023px;
  top: 1px;
  left: 0;
  object-fit: cover;
}

.experiencia-desktop .head {
  position: absolute;
  width: 1440px;
  height: 120px;
  top: 0;
  left: 0;
  background-color: #007fdd;
  opacity: 0.5;
}

.experiencia-desktop .boton-contacto {
  left: 685px;
  position: absolute;
  width: 170px;
  height: 53px;
  top: 34px;
  background-color: #0030a2;
  border-radius: 90px;
}

.experiencia-desktop .boton-experiencia {
  left: 1237px;
  box-shadow: 0px 4px 4px #00000040;
  position: absolute;
  width: 170px;
  height: 53px;
  top: 34px;
  background-color: #0030a2;
  border-radius: 90px;
}

.experiencia-desktop .boton-estudios {
  left: 869px;
  box-shadow: 0px 4px 4px #00000040;
  position: absolute;
  width: 170px;
  height: 53px;
  top: 34px;
  background-color: #0030a2;
  border-radius: 90px;
}

.experiencia-desktop .boton-competencias {
  left: 1053px;
  box-shadow: 0px 4px 4px #00000040;
  position: absolute;
  width: 170px;
  height: 53px;
  top: 34px;
  background-color: #0030a2;
  border-radius: 90px;
}

.experiencia-desktop .text-wrapper {
  position: absolute;
  top: 47px;
  left: 727px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.experiencia-desktop .div {
  position: absolute;
  top: 47px;
  left: 1271px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.experiencia-desktop .text-wrapper-2 {
  position: absolute;
  top: 47px;
  left: 914px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.experiencia-desktop .text-wrapper-3 {
  position: absolute;
  top: 47px;
  left: 1070px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.experiencia-desktop .text-wrapper-4 {
  position: absolute;
  top: 12px;
  left: 70px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.experiencia-desktop .text-wrapper-5 {
  position: absolute;
  top: 52px;
  left: 208px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.experiencia-desktop .group {
  position: absolute;
  width: 1257px;
  height: 521px;
  top: 252px;
  left: 99px;
}

.experiencia-desktop .frame {
  display: flex;
  flex-direction: column;
  width: 981px;
  height: 521px;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 276px;
}

.experiencia-desktop .frame-2 {
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-color: #d9d9d9;
  border-radius: 34px;
  opacity: 0.5;
}

.experiencia-desktop .SNP-group-IT-support {
  position: absolute;
  width: 893px;
  top: 128px;
  left: 44px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.experiencia-desktop .span {
  font-weight: 700;
}

.experiencia-desktop .text-wrapper-6 {
  font-weight: 500;
}

.experiencia-desktop .foto-perfil {
  position: absolute;
  width: 231px;
  height: 338px;
  top: 91px;
  left: 0;
}

.experiencia-desktop .p {
  position: absolute;
  top: 992px;
  left: 1013px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.experiencia-desktop .home {
  position: absolute;
  width: 66px;
  height: 66px;
  top: 941px;
  left: 56px;
}
